* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: #5f7eb8;
}

img.lado {
    float: right;
} 

h1 {
    font-size: 2em;
    color: #324363;
}

h2 {
    font-size: 1.5em;
    color: #5f7eb8;
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 5px;
    box-shadow: 3px 3px 3px;
}
